* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#nav {
    background-color: #333;
    padding: 10px;
    width: 100%;
    top: 0;
    text-align: center; 
    position: fixed;
}

#nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center; 
    float: none;
}

#nav ul li {
    margin: 0 30px;
    float: none;
}

#nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
    float: none;
}

/* Styling for main content */
#main {
    margin: 20px;
    padding-top: 50px;
}

h1 {
    color: #1a237e;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #009688;
    font-size: 28px;
    text-decoration: underline;
    margin-bottom: 10px;
}

p {
    color: #424242;
    font-size: 16px; 
    line-height: 1.5;
    text-align: justify; 
}

img {
    width: 500px;
    border-radius: 5px; 
    margin-bottom: 10px;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

li {
    color: #616161;
    font-size: 16px;
    line-height: 1.5;
}

iframe {
    width: 50%;
    height: 315px;
    border: none;
}

#hobby {
    display: flex;
    width: 100%;
}

#music {
    text-align: center;
}

#music p {
    text-align: center;
}

.hobby_div {
    text-align: center;
    width: 50%;
}

.hobby_div p {
    text-align: center;
}

/* Styling for footer (included once) */
#footer {
    background-color: #333;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px 0; 
    clear: both;
}

@media screen and (min-width: 680px) {
    #nav {
        padding: 10px;
        text-align: center;
    }

    section #contact, #education, #work-experience, #skills, #activities, #awards {
        text-align: justify;
        font-style: normal;
    }

    #main h1 {
        font-weight: bold;
    }

    #main h2 {
        text-decoration: solid;
    }
}

@media screen and (min-width: 480px) and (max-width: 680px) {
    #nav {
        padding: 0px;
        text-align: center;
        border-radius: 2rem;
        display: block;
    }

    section #contact, #education, #work-experience, #skills, #activities, #awards {
        text-align: justify;
        font-style: normal;
    }
}